header.content-header{
    overflow: visible;	
}

header .right-wrapper {
  width: 100px;
  height: 30px;
  background: url("../images/notification.png")no-repeat;
  margin-left: 900px;
}
.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.notification-count {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ff0000;
  font-size: 10px;
  line-height: 13px;
  margin-left: 11px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: -5px;
}
.notification-wrapper {
  display: inline-block;
  position: relative;
}
.notification-wrapper .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #000;
  margin-bottom: 10px;
}
.notification-wrapper .close-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #000;
  position: absolute;
  top: 15px;
  right: 10px;
  background: url('../images/close.png');
  cursor: pointer;
}
.notification-wrapper .outer-wrapper {
  display: none;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: -2px 12px 36px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 12px 36px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 12px 36px -10px rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 300px;
  top: 36px;
  left: 0;
  z-index: 999;
}
.block-follower-notifications-block .outer-wrapper.show-notification {
  display: inline-block;
}
.block-follower-notifications-block .outer-wrapper li {
  list-style-type: none;
  margin-bottom: 5px;
}
.block-follower-notifications-block .outer-wrapper li:last-child {
  margin-bottom: 0;
}
.block-follower-notifications-block .outer-wrapper li a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  line-height: 17px;
}
.block-follower-notifications-block .outer-wrapper li a:focus,
.block-follower-notifications-block .outer-wrapper li a:hover {
  color: #0074bd;
}
